@font-face {
  font-family: 'icomoon';
  src:  url("icomoon.eot");
  src:  url("icomoon.eot") format('embedded-opentype'),
    url("icomoon.woff2") format('woff2'),
    url("icomoon.ttf") format('truetype'),
    url("icomoon.woff") format('woff'),
    url("icomoon.svg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-podcast:before {
  content: "\e921";
}
.icon-camera:before {
  content: "\e900";
}
.icon-diamond:before {
  content: "\e901";
}
.icon-mapmarker:before {
  content: "\e902";
}
.icon-map:before {
  content: "\e903";
}
.icon-atom:before {
  content: "\e904";
}
.icon-graph:before {
  content: "\e905";
}
.icon-bars:before {
  content: "\e906";
}
.icon-chart:before {
  content: "\e907";
}
.icon-expand:before {
  content: "\e110";
}
.icon-maximize:before {
  content: "\e112";
}
.icon-minimize:before {
  content: "\e113";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}
.icon-ellipsis:before {
  content: "\e129";
}
.icon-date:before {
  content: "\e908";
}
.icon-location1:before {
  content: "\e909";
}
.icon-bnicon-03:before {
  content: "\e90a";
}
.icon-nextpedia:before {
  content: "\e90b";
}
.icon-location2:before {
  content: "\e90c";
}
.icon-quotation1:before {
  content: "\e90d";
}
.icon-quotation2:before {
  content: "\e90e";
}
.icon-meet2:before {
  content: "\e90f";
}
.icon-bnicon-09:before {
  content: "\e910";
}
.icon-developer:before {
  content: "\e911";
}
.icon-marketing:before {
  content: "\e912";
}
.icon-shopping:before {
  content: "\e913";
}
.icon-bnicon-13:before {
  content: "\e914";
}
.icon-epaper:before {
  content: "\e915";
}
.icon-digital:before {
  content: "\e916";
}
.icon-line:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e918";
}
.icon-meet1:before {
  content: "\e919";
}
.icon-graph2:before {
  content: "\e91a";
}
.icon-email:before {
  content: "\e91b";
}
.icon-rss:before {
  content: "\e91c";
}
.icon-google-plus:before {
  content: "\e91d";
}
.icon-bnicon-23:before {
  content: "\e91e";
}
.icon-bnicon-24:before {
  content: "\e91f";
}
.icon-bnicon-25:before {
  content: "\e920";
}
