@font-face {
  font-family: 'Arapey';
  font-style: italic;
  font-weight: 400;
  src: local('Arapey Italic'), local('Arapey-Italic'), url("YQbRo6SDRtnzyJToW4DvynYhjbSpvc47ee6xR_80Hnw.woff") format('woff');
}
@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  src: local('Arapey Regular'), local('Arapey-Regular'), url("ZFo_O0Fk1lh8uCa1lRm3QevvDin1pK8aKteLpeZ5c0A.woff") format('woff');
}
