@font-face {
  font-family: 'GFS Didot';
  font-style: normal;
  font-weight: 400;
  src: local('GFS Didot Regular'), local('GFSDidot-Regular'), url("NjVyNjKxJC9ASa9qAjic8wLUuEpTyoUstqEm5AMlJo4.woff") format('woff');
}
